{% extends 'manager/base.html' %}
{% load static %}
{% block head %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'manger/addschool.css' %}">

{% endblock %}

{% block content %}
    <br>

    {% csrf_token %}
        <div class="add_school">

            <div class="twobes"><p>The quote and main body:</p></div>
                       <div class="twobes">  <input name="header" type="text" value="{{quote}}" style="width:400px;" readonly> </div>
              <div class="twobes"><textarea readonly style="height:200px;width:400px;"> {{mainbody}}</textarea></div>

                   </div>


<br>
       <div class="add_school">
               <form action="" method="POST">
        {% csrf_token %}
           <div class="twobes">  <input name="header" type="text" placeholder="Quote" style="width:400px;"> </div>
           <div class="twobes"> <textarea id="text" name="text" placeholder="Main Body" style="height:200px;width:400px;"></textarea></div>
         <button class="btn btn-dark" type="submit" ,name="change">Change content</button>
            <div class="twobes"><h5>{{ message }}</h5></div>
               </form>

       </div>





{% endblock %}