{% extends 'manager/base.html' %}
{% load static %}
{% block head %}


<link rel="stylesheet" type="text/css" href="{% static 'manger/urgent.css' %}">
{% endblock %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <br><br>
    <div class="container">

        <div class="row">
            <h1>Send a urgent-request</h1>
        </div>
        <div class="row">
            <h4 style="text-align:center">you can send an urgent request to any coordinator here!!</h4>
        </div>
        <div class="row input-container">
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <select name="coords" id="coords">
                        <option value="-1">Pickone</option>
                        {% for i in coor%}
                        <option value="{{i.id}}">{{i.username}}</option>

                        {% endfor %}
                        >
                    </select>
                </div>
            </div>
            <div><h6 for="urgent">Urgent|</h6><input type="radio" id="urgent" name="urgency" value="urgent"></div>
            <br>
            <div><h6 for="nonurgent">Non urgent</h6><input type="radio" id="nonurgent" name="urgency" value="nonurgent">
            </div>


            <div class="col-xs-12">
                <div class="styled-input wide">
                    <textarea name="textarea" required></textarea>
                    <label>Message</label>
                </div>
            </div>
            <div class="col-xs-12">
                <button class="btn-lrg submit-btn" type="submit" name="add">Send request</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}