body{
  background: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;


}
.mainpage{
text-align: center;
max-width: 700px;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 3px solid blue;
 padding: 25px;
 background-color: lightblue;

}
.flipswitch {
  position: relative;
  width: 86px;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 8px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "ONLINE";
  background-color: lightgreen;
  color: #FFFFFF;
    text-align: center;

}
.flipswitch-inner:after {
  content: "OFFLINE";
  background-color: red;
  color: #888888;
  text-align: center;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}