{% extends 'coordinator/base.html' %}
{% load static %}

{% block head %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'manger/addschool.css' %}">

{% endblock %}

{% block content %}
    <br>
    <h1 class="titles">change the picture</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="add_school">

            <div class="twobes">  <h4>Select a file:</h4><input type="file" name="myfile"></div>
            <button class="btn btn-dark" type="submit" ,name="add">changepic</button>
<!--              <div class="twobes"><h5 >{{message}}</h5></div>-->
<!--            <div class="types">-->
          </div>

    </form>



{% endblock %}