{% extends 'coordinator/base.html' %}
{%load static %}
{% load cor_funcs %}

{% block head %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'manger/addschool.css' %}">

{% endblock %}

{% block content %}
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="add_school">

            <div class="twobes"><h5>Start time:</h5>{{ event.starttime }}</div>
            <div class="twobes"><h5>End time to:</h5>{{ event.endttime }}</div>
            <div class="twobes"><input name="header" type="text" value="{{ event.title }}" style="width:400px;" readonly></div>


            <div class="twobes"><textarea readonly style="height:200px;width:400px;"> {{ event.description }}</textarea>
            </div>



        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>


            </tr>
            </thead>
            <tbody>
            {% for i in vols %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.username}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>


        </div>

    </form>
    <br>



{% endblock %}