{% extends 'coordinator/base.html' %}
{%load static %}

    {% block head %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'coordinator/addschool.css' %}">

    {% endblock %}

   {% block content %}
<br>
<h1 class="titles">Voulnteers at the school</h1>

<form action="" method="POST">
    {% csrf_token %}


<div class="add_school">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
  {% for i in vol %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.username}}</td>
        <td>{{i.email}}</td>
        {% if i.online %}
        <td><span class="greendot"></span></td>
        {% else %}
        <td><span class="reddot"></span></td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>



</div>
</form>



    {% endblock %}