{% extends 'voulnteers/base.html' %}
{% load static %}
{% block head %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'voulnteers/addschool.css' %}">
{% endblock %}

{% block content %}
    <br>
    <h1 class="titles">Request to be at a school</h1>

<form action="" method="POST">
    {% csrf_token %}
        <div class="add_school">

            <div class="twobes"><h4>School</h4>
                <select name="schools" id="schools">
                    <option value="-1">Pickone</option>
                    {% for i in sch%}
                      <option value="{{i.id}}">{{i.name}} , {{i.town}}</option>

                    {% endfor %}
>
               </select></div>
            <button class="btn btn-dark" type="submit" ,name="add">Add Send request</button>
               <h5>{{message}}</h5>
            <div class="types">
            </div>

    </form>




{% endblock %}