{% extends 'voulnteers/base.html' %}
{%load static %}

    {% block head %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'coordinator/addschool.css' %}">

    {% endblock %}

   {% block content %}
<br>
<h1 class="titles">All schools</h1>

<form action="" method="POST">
    {% csrf_token %}


<div class="add_school">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">School name</th>
      <th scope="col">more info</th>
        <th scope="col">Voulnteering events</th>

    </tr>
  </thead>
  <tbody>
  {% for i in sch %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.name}}</td>
      <td>  <a href="/voulnteer/schools/{{i.id}}">{{i.name}} info</a></td>
        <td>  <a href="/voulnteer/events/{{i.id}}">{{i.name}} Events</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>



</div>
</form>



    {% endblock %}