{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    {#    <title>How to Create responsive Homepage</title>#}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainpage/home.css' %}">
{% endblock %}
{% block content %}

    <body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="{% static 'mainpage/logo.png' %}" width="150" height="150" alt="">
            </div>
            <ul class="nav-area">
                <li><a href="/Contact_us/">צור איתנו קשר</a></li>
                <li><a href="/about/">אודות האתר</a></li>
                <li><a href="/register/">הרשמה לאתר</a></li>
                <li>
                    <div class="dropdown">
                        <p>כניסה למערכת </p>
                        <div class="dropdown-content">
                            <a href="voulnteer/login">מתנדב</a>
                            <a href="/coordinator/login/">רכז</a>
                            <a href="/manager/login/">מנהל</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="welcome-text">
            <h1>
                <p style="font-size:1.5vw" class="aboutus-text">אתר זה פותח ע"י קבוצת סטודנטים להנדסת תוכנה ,האתר תוכנן
                    לתת מענה לקהילת
                    הקשישים ולצורכיהם השונים.
                    דרך האתר אפשר לקבל עזרה וסיוע ממתנדבים במגוון תחומים .
                    .</p>
                <a href="#">Contact US</a>
        </div>
    </header>

    </body>
    </html>
{% endblock %}